[Unit]
Description="pypicolcd LCD Framebuffer Service"
After=network.target

[Service]
Type=simple
#Type=notify  # requires `import systemd` and `systemd.daemon.notify('READY=1')`
Environment=PYTHONUNBUFFERED=1
# Environment=statedir=/var/cache/lcd-fb
# ExecStartPre=/usr/bin/mkdir -p ${statedir}
User=owner
Group=owner
ExecStart=/bin/sh -c 'lcd-fb'
Restart=on-failure
TimeoutStartSec=5
RestartSec=5

[Install]
WantedBy=multi-user.target
